pkgs/Wadl/SendRequestFlow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SendRequestFlow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SendRequestFlow" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_email_def" />
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_email_1_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_date_def" />
      <string name="ManualTriggerInput_date_1_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <object name="ManualTriggerInput">
        <property name="email" type="string" />
        <property name="text" type="string" />
        <property name="email_1" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="date" type="string" />
        <property name="date_1" type="string" />
        <property name="boolean" type="boolean" />
        <property name="text_4" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="email" path="/email" type="xs:string" required="true">
              <doc title="Email" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="RequestType" />
            </param>
            <param style="plain" name="email_1" path="/email_1" type="xs:string" required="true">
              <doc title="ManagerEmail" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="EmployeeName" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="EmployeeID" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="Details" />
            </param>
            <param style="plain" name="date" path="/date" type="xs:string" required="true">
              <doc title="StartDate" />
            </param>
            <param style="plain" name="date_1" path="/date_1" type="xs:string" required="true">
              <doc title="EndDate" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="WorkFromHome" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="RequestID" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>